MATRICULA=26128017
DOCKERHUB_USER=nikottrw
DOCKER_USER=nikottrw
DOCKER_USERNAME=nikottrw
USUARIO_DOCKER=nikottrw
PORT_PORTAL=8017
PORT_BLOG=9017
PORT_MANUTENCAO=7017
MYSQL_DATABASE=wordpress
MYSQL_USER=wordpress
MYSQL_PASSWORD=wordpress
MYSQL_ROOT_PASSWORD=root
