.env
# Copie este arquivo para .env e preencha. O .env NUNCA vai para o Git.
MATRICULA=26128017
DOCKERHUB_USER=nikottrw

MARIADB_DATABASE=agrovale_blog
MARIADB_USER=agrovale
MARIADB_PASSWORD=senai123
MARIADB_ROOT_PASSWORD=senai123
